<head>
	<title>Добавление товара</title>
	<link rel="stylesheet" type="text/css" href="../../assets/css/menu_style.css">
	<script src="../../assets/js/script.js"></script>
</head>
<div class="form">
	<form action="/add_unit" method="post">
		<div class=elem">
			<div>Название</div>
			<textarea name="name"></textarea>
		</div>
		{{range .}}
		<div class="elem">
			<input type="checkbox" name="category{{.ID}}">{{.Name}}
		</div>
		{{end}}
		<div><input type="submit" class="button"></div>
	</form>
</div>
<div><button class="button"><a href="/edit/units">Вернуться к списку товаров</a></button></div>