<head>
	<title>Добавление товара</title>
	<link rel="stylesheet" type="text/css" href="../../assets/css/records_style.css">
	<script src="../../assets/js/script.js"></script>
</head>
<div class="form">
	<form method="post" action="/add_unit" enctype="multipart/form-data">
		<div class="elem">
			<div>Название</div>
			<textarea name="name"></textarea>
		</div>
		<div class="elem">
			<div>Количество</div>
			<textarea name="quantity"></textarea>
		</div>
		<div class="elem">
			<div>Цена</div>
			<textarea name="price"></textarea>
		</div>
		<div class="elem">
			<div>Скидка</div>
			<textarea name="discount"></textarea>
		</div>
		<select name="category" id="categorySelect" aria-required="true" onChange="Selected(this)">
			<option disabled selected>Категория</option>
			{{range .}}
			<option class="category" value="{{.ID}}">{{.Name}}</option>
			{{end}}
		</select>
        {{range .}}
		<div class="features" id="{{.ID}}">
            {{range .Features}}
                <div class="elem">
                    <div>{{.Name}}</div>
                    <textarea name="featureID{{.ID}}"></textarea>
                </div>
            {{end}}
		</div>
        {{end}}
		<textarea name="features" id="features" class="features"></textarea>
		<textarea name="pictures" id="picturesNumber" class="features"></textarea>
		<div id="pictures"></div>
		<div><button type="button" class="button" id="addPic" onclick="ShowButton()">Добавить изображения</button></div>
		<div><input type="submit" class="button" onclick="SetFeatures()"></div>
	</form>
</div>
<div><button class="button"><a href="/edit/units">Вернуться к списку товаров</a></button></div>