<head>
	<title>Категории</title>
	<link rel="stylesheet" type="text/css" href="../../assets/css/records_style.css">
</head>
{{range .}}
<div class="records">
	<div class="fieldName">ID:</div>
	<div class="record">{{.ID}}</div>
	<div class="fieldName">Категория-родитель:</div>
	<div class="record">{{.ParentID}}</div>
	<div class="fieldName">Название:</div>
	<div class="record">{{.Name}}</div>
	<div class="fieldName">Характеристики:</div>
	{{range .Features}}
	<div class="elem">
		<div class="record">{{.Name}}</div>
	</div>
	{{end}}
	<button class="button"><a href="/edit/categories/{{.ID}}">Редактировать</a></button>
</div>
{{end}}
<div><button class="button"><a href="/add_category">Добавить категорию</a></button></div>
<div class="form">
    <form action="/delete_all_categories" method="post">
        <div><input type="submit" class="button" value="Удалить все категории"></div>
    </form>
</div>
<div><button class="button"><a href="/edit">Вернуться ко всем записям</a></button></div>