<head>
	<title>Категория {{.Category.ID}}</title>
	<link rel="stylesheet" type="text/css" href="../../assets/css/records_style.css">
</head>
<div class="form">
	<form action="/update_category" method="post">
		<div class=elem">
			<div>ID</div>
			<textarea name="id">{{.Category.ID}}</textarea>
		</div>
		<div class=elem">
			<div>Категория-родитель</div>
			<textarea name="parentID">{{.Category.ParentID}}</textarea>
		</div>
		<div class=elem">
			<div>Название</div>
			<textarea name="name">{{.Category.Name}}</textarea>
		</div>
		{{range .Features}}
		{{if .Overlap}}
		<div class="elem">
			<input type="checkbox" name="feature{{.Feature.ID}}" checked/>{{.Feature.Name}}
		</div>
		{{else}}
		<div class="elem">
			<input type="checkbox" name="feature{{.Feature.ID}}">{{.Feature.Name}}
		</div>
		{{end}}
		{{end}}
		<div><input type="submit" class="button"></div>
	</form>
</div>
<div><button class="button"><a href="/edit/categories">Вернуться к списку категорий</a></button></div>