<head>
	<title>Создание аккаунта</title>
	<link rel="stylesheet" type="text/css" href="../../assets/css/login_style.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/common_style.css">
	<script src="../../assets/js/login.js"></script>
</head>
<body>
<div class="login-page">
  <div class="form">
    <form class="register-form" action="/create_account" method="post">
      <input type="text" class="field" name="name" placeholder="Имя"/>
      <input type="password" class="field" name="password" placeholder="Пароль"/>
      <input type="text" class="field" name="email" placeholder="E-mail"/>
      <input type="submit" class="button" value="Создать аккаунт">
      <p class="message">Уже зарегестрированы? <a href="/login">Войти</a></p>
    </form>
  </div>
</div>