<head>
	<link rel="stylesheet" type="text/css" href="../../assets/css/edit_style.css">
	<script src="../../assets/js/script.js"></script>
</head>
<body>
	<div class="info">
		<div class="elem">
			<button class="button"><a href="/edit/users">Пользователи</a></button>
		</div>
		<div class="elem">
			<button class="button"><a href="/edit/orders">Заказы</a></button>
		</div>
		<div class="elem">
			<button class="button"><a href="/edit/units">Товары</a></button>
		</div>
		<div class="elem">
			<button class="button"><a href="/edit/categories">Категории</a></button>
		</div>
		<div class="elem">
			<button class="button"><a href="/edit/characteristics">Характеристики</a></button>
		</div>
	</div>