<!DOCTYPE html>
<head>
	<title>{{.}}</title>
	<link rel="stylesheet" type="text/css" href="../../assets/css/menu_style.css">
	<script src="../../assets/js/script.js"></script>
</head>
<body>
	<ul class="menu-th">
		<li><a href="/index">lol</a></li>
		<li><a href="/categories">lol</a>
			<ul>
				<li><a href="/categories/processors">lol</a></li>
				<li><a href="/categories/motherboards">lol</a></li>
				<li><a href="/categories/rams">lol</a></li>
				<li><a href="/categories/videocards">lol</a></li>
			</ul>
		</li>
		<li><a href="/constructor">lol</a></li>
		<div class="right"><li><a href="/login">lol</a></li></div>
	</ul>
</body>