<head>
	<title>Авторизация</title>
	<link rel="stylesheet" type="text/css" href="../../assets/css/login_style.css">
	<script src="../../assets/js/login.js"></script>
</head>
<body>
<div class="login-page">
  <div class="form">
    <form class="login-form">
      <input type="text" placeholder="Логин"/>
      <input type="password" placeholder="Пароль"/>
      <button>Войти</button>
      <p class="message">Не зарегестрированы? <a href="/create_account">Создать аккаунт</a></p>
    </form>
  </div>
</div>