<!DOCTYPE html>
<head>
	<title>{{.}}</title>
	<link rel="stylesheet" type="text/css" href="../../assets/css/menu_style.css">
	<script src="../../assets/js/script.js"></script>
</head>
<body>
	<ul class="menu-th">
		<li><a href="/index">Омг</a></li>
		<li><a href="/categories">Омг</a>
			<ul>
				<li><a href="/categories/processors">Омг</a></li>
				<li><a href="/categories/motherboards">Омг</a></li>
				<li><a href="/categories/rams">Омг</a></li>
				<li><a href="/categories/videocards">Омг</a></li>
			</ul>
		</li>
		<li><a href="/constructor">Омг</a></li>
		<div class="right"><li><a href="/login">Омг</a></li></div>
	</ul>
</body>