<!DOCTYPE html>
<head>
	<link rel="shortcut icon" href="../../assets/images/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="../../assets/css/menu_style.css">
	<script src="../../assets/js/script.js"></script>
</head>
<body>
	<ul class="menu-th">
		<li><a href="/index">На главную</a></li>
		<li><a href="/categories">Категории</a>
			<ul>
				<li><a href="/categories/processors">Процессоры</a></li>
				<li><a href="/categories/motherboards">Материнские платы</a></li>
				<li><a href="/categories/videocards">Видеокарты</a></li>
				<li><a href="/categories/rams">Оперативная память</a></li>
			</ul>
		</li>
		<li><a href="/constructor">Конструктор компьютера</a></li>
		<li><a href="/search">Поиск по сайту</a></li>
		{{if .AccessLevel}}
		<li><a href="/edit">Редактирование записей</a>
			<ul>
				<li><a href="/edit/users">Пользователи</a></li>
				<li><a href="/edit/orders">Заказы</a></li>
				<li><a href="/edit/units">Товары</a></li>
				<li><a href="/edit/categories">Категории</a></li>
				<li><a href="/edit/features">Характеристики</a></li>
				<li><a href="/edit/pairs">Пары товаров</a></li>
			</ul>
		</li>
		{{end}}
		{{if .IsLogged}}
		<div class="right">
			<li><a class="name" href="/profile">{{.Name}}</a>
				<ul>
					<li><a href="/basket">Корзина</a></li>
					<li><a href="/orders">Заказы</a></li>
					<li><a href="/logout">Выйти</a></li>
				</ul>
			</li>
		</div>
		{{- else}}
		<div class="right"><li><a href="/login">Войти в аккаунт</a></li></div>
		{{end}}
	</ul>