<head>
	<title>Пара товаров {{.ID}}</title>
	<link rel="stylesheet" type="text/css" href="../../assets/css/records_style.css">
</head>
<div class="form">
    <form action="/update_pair" method="post">
        <div class=elem">
            <div>ID</div>
            <textarea name="id">{{.ID}}</textarea>
        </div>
        <div class=elem">
            <div>ID первого товара</div>
            <textarea name="one">{{.One}}</textarea>
        </div>
        <div class=elem">
            <div>ID второго товара</div>
            <textarea name="two">{{.Two}}</textarea>
        </div>
        <div class=elem">
            <div>Количество</div>
            <textarea name="count">{{.Count}}</textarea>
        </div>
        <div><input type="submit" class="button"></div>
    </form>
</div>
<div class="form">
    <form action="/delete_pair" method="post">
        <textarea class="features" name="id">{{.ID}}</textarea>
        <div><input type="submit" class="button" value="Удалить пару товаров"></div>
    </form>
</div>
<div><button class="button"><a href="/edit/pairs">Вернуться к списку пар товаров</a></button></div>