<head>
	<title>Оплатить</title>
	<link rel="shortcut icon" href="../../assets/images/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="../../assets/css/common_style.css">
	<link rel="stylesheet" type="text/css" href="../../assets/css/error_style.css">
</head>
<div class="headerEr">Оплатите заказ с помощью Робокассы</div>
<div class="buttonB"><script type="text/javascript" src="https://auth.robokassa.ru/Merchant/PaymentForm/FormMS.js?isTest=1&Pass1=AQhJe1jw2GSepy9nX04e&MerchantLogin=compmarket&Culture=ru&Encoding=utf-8&OutSum={{.OutSum}}&InvoiceID=0&SignatureValue={{.SignatureValue}}"></script></div>