<head>
	<title>Профиль пользователя</title>
	<link rel="stylesheet" type="text/css" href="../../assets/css/profile_style.css">
	<link rel="stylesheet" type="text/css" href="../../assets/css/common_style.css">
	<script src="../../assets/js/script.js"></script>
</head>
<body>
	<div class="header">Ваши данные</div>
	<div class="info">
		<div class="elemP">
			<div class="fieldName">Имя</div>
			<div class="field">{{.FirstName}}</div>
		</div>
		<div class="elemP">
			<div class="fieldName">Фамилия</div>
			<div class="field">{{.SecondName}}</div>
		</div>
		<div class="elemP">
			<div class="fieldName">Email</div>
			<div class="field">{{.Email}}</div>
		</div>
	</div>
	<div class="buttonA"><a href="/profile/change">Изменить данные</a></div>