<head>
	<title>Профиль пользователя</title>
	<link rel="stylesheet" type="text/css" href="../../assets/css/profile_style.css">
	<link rel="stylesheet" type="text/css" href="../../assets/css/common_style.css">
	<script src="../../assets/js/script.js"></script>
</head>
<body>
	<div class="info">
		<div class="header">Ваши данные</div>
		<div class="elem">
			<div>Имя</div>
			<div>{{.FirstName}}</div>
		</div>
		<div class="elem">
			<div>Фамилия</div>
			<div>{{.SecondName}}</div>
		</div>
		<div class="elem">
			<div>Email</div>
			<div>{{.Email}}</div>
		</div>
		<input type="button" class="button" name="change" value="Изменить данные">
	</div>
	<div ></div>