<head>
	<link rel="stylesheet" type="text/css" href="../../assets/css/show_style.css">
	<link rel="stylesheet" type="text/css" href="../../assets/css/common_style.css">
</head>
<div class="info">
	<div class="elem">
		<div class="pictureName">Процессоры</div>
		<a href="/categories/processors"><img class="picture" src="../../assets/images/processor.jpg" alt="Процессоры"></a>
	</div>
	<div class="elem">
		<div class="pictureName">Материнские платы</div>
		<a href="/categories/motherboards"><img class="picture" src="../../assets/images/videocard.jpg" alt="Материнские платы"></a>
	</div>
	<div class="elem">
		<div class="pictureName">Видеокарты</div>
		<a href="/categories/videocards"><img class="picture" src="../../assets/images/videocard.jpg" alt="Видеокарты"></a>
	</div>
	<div class="elem">
		<div class="pictureName">Оперативная память</div>
		<a href="/categories/motherboards"><img class="picture" src="../../assets/images/videocard.jpg" alt="Оперативная память"></a>
	</div>
</div>