<head>
	<title>Товары</title>
	<link rel="stylesheet" type="text/css" href="../../assets/css/records_style.css">
</head>
{{range .}}
<div class="records">
	<div class="fieldName">ID:</div>
	<div class="record">{{.ID}}</div>
	<div class="fieldName">Название:</div>
	<div class="record">{{.Name}}</div>
	<div class="fieldName">ID категории:</div>
	<div class="record">{{.CategoryID}}</div>
	<div class="fieldName">Количество:</div>
	<div class="record">{{.Quantity}}</div>
	<div class="fieldName">Цена:</div>
	<div class="record">{{.Price}}</div>
	<div class="fieldName">Скидка:</div>
	<div class="record">{{.Discount}}</div>
	<div class="fieldName">Характеристики:</div>
	{{range .Features}}
		<div class="record">{{.Name}}</div>
		<div class="record">{{.Value}}</div>
	{{end}}
	<div class="fieldName">Изображения:</div>
	{{range .Pictures}}
	<div class="record">{{.}}</div>
	{{end}}
	<button class="button"><a href="/edit/units/{{.ID}}">Редактировать</a></button>
</div>
{{end}}
<div><button class="button"><a href="/add_unit">Добавить товар</a></button></div>
<div><button class="button"><a href="/edit">Вернуться ко всем записям</a></button></div>