<head>
	<title>Пользователи</title>
	<link rel="stylesheet" type="text/css" href="../../assets/css/records_style.css">
</head>
{{range .}}
<div class="records">
	<div class="fieldName">ID:</div>
	<div class="record">{{.ID}}</div>
	<div class="fieldName">Уровень доступа:</div>
	<div class="record">{{.AccessLevel}}</div>
	<div class="fieldName">Логин:</div>
	<div class="record">{{.Login}}</div>
	<div class="fieldName">Пароль:</div>
	<div class="record">{{.Password}}</div>
	<div class="fieldName">E-mail:</div>
	<div class="record">{{.Email}}</div>
	<div class="fieldName">Имя:</div>
	<div class="record">{{.FirstName}}</div>
	<div class="fieldName">Фамилия:</div>
	<div class="record">{{.SecondName}}</div>
	<button class="button"><a href="/edit/users/{{.ID}}">Редактировать</a></button>
</div>
{{end}}
<div><button class="button"><a href="/add_user">Добавить пользователя</a></button></div>
<div><button class="button"><a href="/edit">Вернуться ко всем записям</a></button></div>