<head>
	<title>Пользователь {{.ID}}</title>
	<link rel="stylesheet" type="text/css" href="../../assets/css/records_style.css">
</head>
<div class="form">
	<form action="/update_user" method="post">
		<div class=elem">
			<div>ID</div>
			<textarea name="id">{{.ID}}</textarea>
		</div>
		<div class=elem">
			<div>Уровень доступа</div>
			<textarea name="accessLevel">{{.AccessLevel}}</textarea>
		</div>
		<div class=elem">
			<div>Подтверждён</div>
			{{if .Confirmed}}
			<input type="checkbox" name="confirmed" checked/>
			{{else}}
			<input type="checkbox" name="confirmed">
			{{end}}
		</div>
		<div class=elem">
			<div>E-mail</div>
			<textarea name="email">{{.Email}}</textarea>
		</div>
		<div class=elem">
			<div>Пароль</div>
			<textarea name="password">{{.Password}}</textarea>
		</div>
		<div class=elem">
			<div>Имя</div>
			<textarea name="firstName">{{.FirstName}}</textarea>
		</div>
		<div class=elem">
			<div>Фамилия</div>
			<textarea name="secondName">{{.SecondName}}</textarea>
		</div>
		<div><input type="submit" class="button"></div>
	</form>
</div>
<div class="form">
	<form action="/delete_user" method="post">
		<textarea class="features" name="id">{{.ID}}</textarea>
		<div><input type="submit" class="button" value="Удалить пользователя"></div>
	</form>
</div>
<div><button class="button"><a href="/edit/users">Вернуться к списку пользователей</a></button></div>