/*@import url(https://fonts.googleapis.com/css?family=Roboto:300);*/

body {
  margin: 0;
  background-color: #ededed;
}

ul.menu-th {
  list-style: none; /*убираем маркеры списка*/
  margin: 0; /*убираем отступы*/
  padding-left: 0; /*убираем отступы*/
  background: #8ac758; /*добавляем фон всему меню*/
  height: 50px; /*задаем высоту*/
  }
.menu-th a {
  text-decoration: none; /*убираем подчеркивание текста ссылок*/
  background: #8ac858; /*добавляем фон к пункту меню*/
  color: #fff; /*меняем цвет ссылок*/
  padding: 0px 15px; /*добавляем отступ*/
  font-family: "Roboto",sans-serif; /*меняем шрифт*/
  line-height: 50px; /*ровняем меню по вертикали*/
  display: block; 
  /*border-right: 1px solid #677B27; /*добавляем бордюр справа*/
  -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
  -o-transition: all 0.3s 0.01s ease;
  -webkit-transition: all 0.3s 0.01s ease;
}
.menu-th a:hover {
  background: #6fb03a; /*добавляем эффект при наведении*/
}
.menu-th li {
  float: left; /*Размещаем список горизонтально для реализации меню*/
  position: relative; /*задаем позицию для позиционирования*/
}
         
        /*Стили для скрытого выпадающего меню*/
.menu-th li > ul {
  position: absolute;
  display: none;   
}
         
        /*Делаем скрытую часть видимой*/
.menu-th li:hover > ul {
  display: block; 
  width: 250px;  /*Задаем ширину выпадающего меню*/      
  list-style: none;
  padding-left: 0px;
}
.menu-th    li:hover > ul > li {
  float: none; /*Убираем горизонтальное позиционирование*/
}

.right {
  position: absolute;
  right: 0;
  min-width: 150px;
  /*border-left: 1px solid #677B27;*/
}
.right li {
  width: 100%;
}