/*@import url(https://fonts.googleapis.com/css?family=Roboto:300);*/
.elemP {
	width: 480px;
	margin: 0 auto;
	border: 1px solid #cccccc;
	background-color: white;
}
.elemP div {
	display: inline-block;
	padding: 10px;
}
.fieldName{
	margin-left: 25px;
	margin-top: 25px;
	margin-bottom: 25px;
	width: 80px;
}
.field {
	margin-left: 120px;
	margin-right: 25px;
	width: 150px;
}
.info {
	margin: 20px auto;
	padding: 15px;
}

.header {
	font-size: 25px;
	margin: 5vh 0;
	text-align: center;
}

body {
	font-family: "Roboto",sans-serif;
}

.buttonB a {
	width: 200px;
	border-radius: 3px;
}

.form {
	width: 500px;
	height: 500px;
	background-color: white;
	margin: 50px auto;
	text-align: center;
	border-radius: 3px;
	border: 1px solid #cccccc;
}

.elem {
	padding-top: 25px;
}

.fieldC {
	height: 40px;
	width: 200px;
	background: #f2f2f2;
	outline: 0;
	border: 1px solid #cccccc;
	border-radius: 3px;
	font-size: 14px;
	padding-left: 15px;
}

.button {
	margin-top: 35px;
	margin-bottom: 35px;
}

.elem div {
	padding-bottom: 3px;
}

.button a {
	background-color: yellow;
	width: 100%;
}