@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.unit {
	height: 110px;
	width: 900px;
	background-color: white;
	border-radius: 3px;
	font-family: "Roboto",sans-serif;
	margin: 10px auto;
}

.unit div {
	display: inline-block;
}

.unit img {
	height: 100px;
	width: 100px;
	padding-top: 5px;
	padding-left: 5px;
}

.name {
	padding-left: 40px;
	vertical-align: 42px;
	font-size: 16pt;
}

.name a {
	text-decoration: none;
	color: black;
}

.price {
	font-size: 22pt;
	font-weight: bold;
	float: right;
	margin-right: 30px;
	margin-top: 38px;
}

.button {
	margin-left: 10px;
	vertical-align: 50px;
	float: right;
	margin-top: 40px;
	margin-right: 40px;
}

.elem {
	background-color: white;
	width: 300px;
	height: 289px;
	margin: 20px;
	display: inline-block;
}

.info {
	width: 1400px;
	margin: 0 auto;
}

.picture {
	width: 300px;
	height: 250px;
}

.pictureName {
	font-family: "Roboto",sans-serif;
	text-align: center;
	margin-bottom: 10px;
	padding-top: 10px;
}

